.sidenav-container {
  height: 100%;
  background-color: rgb(111, 187, 13);
  
}

.sidenav {
  width: 200px;
  background: rgb(158, 172, 216);
  color: white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
