.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.container-fluid{

  box-shadow: 0px 0px 10px 10px rgb(201, 130, 153);
  width: 400px;
  border-radius: 10px ;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgb(210, 179, 223);
  padding-bottom: 20px;
  padding-right: 10px;


}




